.task {
    font-size: 20px;
    padding-top: 3%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
}

.date {
    margin-left: 30%;
    margin-top: 5px;
    width: 15%;
}

.todo {
    width: 45%;
    margin-top: 8px;
    margin-left: 5%;
}

@media screen and (min-width:580px) and (max-width:850px){
    .date {
        margin-left: 5%;
        margin-top: 5px;
    }
    .todo{
        width: 25%;
        margin-top: 5px;
    }
}

@media screen and (min-width:200px) and (max-width:650px){

    .task{
        width: 100%;
    }

    .date {
        margin-left: 5%;
        margin-top: 7px;
        font-size: 14px
    }
    .todo {
        width: 20%;
        margin-top: 5px;
        font-size: 16px;
    }

    .task .btn{
        width: 30%;
        font-size: 55%;
    }
}

@media screen and (min-width:250px) and (max-width:455px){
    .btn{
        font-size: 70%;
        margin: 5px;
    }
}
